*:focus {
    outline: none;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 1000vh;
    /* border: 2px solid red; */
    background: rosybrown;
}
.hoodie {
    position: fixed;
    z-index: -99;
    width: 100%;
    height: 100%;
    top: -20vh;
    left: 0;
}
#snake {
    width: 100%;
    height: 160%;
}

main {
    position: absolute;
    width: 100%;
    /* border: orange 2px solid; */
    /* display: flex; */
}
#header {
    display: flex;
    align-items: center;
    /* border: solid 2px white; */
}
#read {
    flex-basis: 25%;
    /* border: springgreen 2px solid; */
    display: flex;
    /* justify-content: center; */
    /* text-align: center; */
    align-items: center;
    justify-content: space-around;
}
#logo {
    flex-basis: 7%;

}
#log {
    height: 50px;
    width: 80px;
}
/* #write {
    border: solid 2px fuchsia;
    align-items: center;
    
} */
#barred {
    height: 45px;
    width: 400px;
    border-radius: 25px;
    text-align: center;
    background-image: url(../pngwave\ \(24\).png);
    font-family: 'Century Gothic','Pinyon Script', cursive;
    font-weight: bold;
    font-style: italic;
    font-size: 2em;
    letter-spacing: -0.1em;
    color: aliceblue;
}
#but {
    height: 40px;
    width: 50px;
    /* border: green 2px solid; */
}
#super-container {
    height: 1000vh;
    width: 69%;
    /* border: royalblue 2px solid; */
    overflow: hidden;
    min-width: 50%;
    max-width: 100%;
    position: absolute;
    left: 100px;
    border-radius: 20px;
}
.container {
    position: relative;
    height: 1000vh;
    width: 100%;
    /* left: 200px; */
    /* border: royalblue 2px solid; */
    overflow: hidden;
    min-width: 100%;
    /* border-radius: 20px; */
    /* border: olivedrab 2px solid; */
}
.window {
    height: 100%;
    width: 100%;
    margin-top: -80px;
    margin-bottom: 80px;
    border-radius: 20px;
    min-width: 100%;
}
.maybe{
    position: fixed;
    bottom: 0;
    right: 0;
    min-height: 200px;
    min-width: 300px;
    /* border: 2px solid red; */
}
#no-look {
    height: 230px;
    width: 350px;
}
.ghosted {
    display: none;
}

