* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
    background: url(../Finished\ images/wobble\ up.gif)
}
div {
    /* position: fixed; */
    /* border: 2px solid red; */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
img {
    /* border: solid 2px blue; */
    height: 30%;
    width: 20%;
}
#btn {
    border: 2px solid red;
}